<b>LIST</b>

In [2]:
# 1. List Creation
fruits = ['apple', 'banana', 'cherry', 'date']
print("List:", fruits)

List: ['apple', 'banana', 'cherry', 'date']

In [3]:
# 2. Indexing
print("First item:", fruits[0])
print("Last item:", fruits[-1])

First item: apple
Last item: date

In [4]:
# 3. Slicing
print("First two fruits:", fruits[:2])
print("All except first and last:", fruits[1:-1])

First two fruits: ['apple', 'banana']
All except first and last: ['banana', 'cherry']

In [5]:
# 4. Updating
fruits[1] = 'blueberry'
print("After update:", fruits)

After update: ['apple', 'blueberry', 'cherry', 'date']

In [6]:
# 5. Iterating
for fruit in fruits:
    print("Iterating:", fruit)

Iterating: apple
Iterating: blueberry
Iterating: cherry
Iterating: date

In [7]:
# 6. Sorting
sorted_fruits = sorted(fruits)
print("Sorted list:", sorted_fruits)

Sorted list: ['apple', 'blueberry', 'cherry', 'date']

In [8]:
# In-place sort:
fruits.sort()
print("List after in-place sort:", fruits)

List after in-place sort: ['apple', 'blueberry', 'cherry', 'date']

In [9]:
# 7. Appending
fruits.append('elderberry')
print("After appending:", fruits)

After appending: ['apple', 'blueberry', 'cherry', 'date', 'elderberry']

In [10]:
# 8. Removing Items
fruits.remove('cherry')  # Removes first occurrence of 'cherry'
print("After removing 'cherry':", fruits)
removed = fruits.pop(1)  # Removes item at index 1
print("After pop at index 1:", fruits, "; Removed:", removed)

After removing 'cherry': ['apple', 'blueberry', 'date', 'elderberry']
After pop at index 1: ['apple', 'date', 'elderberry'] ; Removed: blueberry

<b> TUPLES </b>

In [11]:
# Tuples in Python - Immutable Sequences, When to Use, Unpacking

# 1. Tuple Creation
dimensions = (1920, 1080)
print("Tuple:", dimensions)

Tuple: (1920, 1080)

In [12]:
# 2. Immutability
try:
    dimensions[0] = 1280  # Raises TypeError
except TypeError as e:
    print("Cannot modify a tuple:", e)

Cannot modify a tuple: 'tuple' object does not support item assignment

In [13]:
# 3. When to use Tuples
# Use them to protect data from accidental changes, return multiple values from functions

In [14]:
# 4. Unpacking
x, y = dimensions
print(f"Unpacked: x={x}, y={y}")

Unpacked: x=1920, y=1080

In [15]:
# 5. Tuple with multiple items
coordinates = (10, 20, 30)
a, b, c = coordinates
print(f"Unpacked: a={a}, b={b}, c={c}")

Unpacked: a=10, b=20, c=30

<b>DICTIONARIES</b>

In [16]:
# 1. Dictionary Creation
student = {
    'name': 'Alice',
    'age': 21,
    'grades': [90, 88, 95]
}
print("Dictionary:", student)

Dictionary: {'name': 'Alice', 'age': 21, 'grades': [90, 88, 95]}

In [17]:
# 2. Accessing & Updating
print("Student name:", student['name'])
student['age'] = 22
print("Updated age:", student['age'])

Student name: Alice
Updated age: 22

In [18]:
# 3. Adding a new key-value pair
student['major'] = 'Math'
print("Added key-value:", student)

Added key-value: {'name': 'Alice', 'age': 22, 'grades': [90, 88, 95], 'major': 'Math'}

In [19]:
# 4. Traversing a dictionary
for key, value in student.items():
    print(f"{key}: {value}")

name: Alice
age: 22
grades: [90, 88, 95]
major: Math

In [20]:
# 5. Nested Dictionaries
school = {
    'class1': {'teacher': 'Mr. Brown', 'students': 30},
    'class2': {'teacher': 'Ms. Green', 'students': 28}
}
print("Nested dict:", school)
print("Class1's teacher:", school['class1']['teacher'])

Nested dict: {'class1': {'teacher': 'Mr. Brown', 'students': 30}, 'class2': {'teacher': 'Ms. Green', 'students': 28}}
Class1's teacher: Mr. Brown

<b>SETS</b>

In [21]:
# Sets in Python - Unique Element Management, Common Set Operations (Union/Intersection)
# 1. Set Creation & Properties
colors = {'red', 'green', 'blue', 'red'}
print("Set (unique only):", colors)

Set (unique only): {'red', 'green', 'blue'}

In [22]:
# 2. Add elements
colors.add('yellow')
print("After adding:", colors)

After adding: {'red', 'green', 'yellow', 'blue'}

In [23]:
# 3. Remove elements
colors.remove('green')
print("After removal:", colors)

After removal: {'red', 'yellow', 'blue'}

In [24]:
# 4. Set Operations
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

union_ab = a.union(b)
print("Union:", union_ab)

intersection_ab = a.intersection(b)
print("Intersection:", intersection_ab)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}

<b>Advanced Exercises: Lists</b>
1. Nested List Comprehensions

Given a 2D list (matrix), write a single line that flattens it into a 1D list.

2. List Partitioning

Given a list of integers, partition it into two lists: one with even and one with odd numbers, preserving their order.

3. Remove Duplicates Efficiently

Write a function that removes duplicates from a list but preserves the original order of first occurrence. (Donâ€™t use set.)

<b>Advanced Exercises: Tuples</b>
1. Immutable Aggregation

Imagine you have tuples representing points (x, y). Write a function that takes a list of such tuples and returns the tuple (point) farthest from the origin (0,0).

2. Swapping With Tuple Unpacking

Swap the contents of two variables without using a temporary variable, using tuple unpacking. Demonstrate with an example.

3. Grouping with Tuples in Dictionaries

Given a list of (department, employee_name) tuples, create a dictionary mapping each department to a tuple of employee names.

<b>Advanced Exercises: Dictionaries</b>
1. Inverse Mapping

Write a function that inverts a dictionary (key: value becomes value: key), handling the case where values are not unique by mapping each value to a list of keys.

2. Counting Frequency

Count the frequency of each character in a string and store the results in a dictionary. Return the character(s) with the highest frequency.

3. Merge Nested Dictionaries

Given two nested dictionaries with the same keys at the top level, construct a new dictionary that merges corresponding inner dictionaries.

<b>Advanced Exercises: Sets</b>

1. Symmetric Difference of Sets

Given two sets, create a third set containing elements that are in either of the sets, but not in both.

2. Set-Based Duplicate Detection

Given a large list, efficiently determine if any element appears more than once using sets.

3. Unique Pairs With Set Operations

Given two lists, write a function that returns all unique pairs (x, y) such that x is from the first list, y is from the second list, and x != y, using sets to maximize efficiency.